p {
	font: 50px/60px '微软雅黑','黑体','文泉文泉驿正黑体',sans-serif;
	text-align: center;
	}
	p a { 
	color: orange;
	font: 15px/20px '微软雅黑','黑体','文泉文泉驿正黑体',sans-serif;
	text-align: center;
	}
	#pp { 
	color: orange;
	font: 15px/20px '微软雅黑','黑体','文泉文泉驿正黑体',sans-serif;
	text-align: center;
	}
	img {
		position: relative;
		top: 75px;
	}
		.zhuce {
			height: 600px;
			width: 400px;
			float: right;
			position: relative;
			right: 100px;
			top: 30px;
			border: 3px dashed pink;
		}
		.g1 {
			border: 1px solid orange;
			width: 150px;
			height: 20px;
		}
		.g2 {
			border: 1px solid orange;
			width: 160px;
			height: 20px;
		}
		#tijiao {
			position: relative;
			left: 180px;
		}
		
	
	#tijiao {
		height: 30px;
	    width: 50px;
		background: pink;
	    font: 15px/15px '微软雅黑','黑体','文泉文泉驿正黑体',sans-serif;
	}
	form {
		position: relative;
		left:25%;
	}
	input[name=]